.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
.login-card {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 320px;
  width: 300px;
  text-align: center;
}
.login-title {
  height: 50px;
}
.input {
  color: #bbbbbb;
  margin-bottom: 10px;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: 10%;
  padding: 6px 0;
  background-color: rgb(180, 179, 179);
  border: none;
}
.toggle-btn.dark {
  color: #6a6a6a;
}
.login-container.dark {
  background-color: #6a6a6a;
}
.login-title.dark {
  color: rgb(218, 218, 218);
}
.input.dark {
  background-color: #8d8c8c;
}
