 .search {
     flex: 1;
     padding: 12px 16px;
     background-color: #f3f3f3;
     color: rgb(56, 56, 56);
     outline: none;
     border: none;
 }
 .error {
     color: rgb(255, 80, 80) ;
     text-align: start;
     margin-bottom: 5px;
     font-size: 13px;
 }