.friends-container {
  height: 100%;
  width: 500px;
  max-width: 400px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(228, 228, 228);
}
.search {
  padding: 17.4px 20px;
}
#friends-search {
  padding: 10px 16px;
  outline: none;
  width: 100%;
}
.friends-top-search {
  background-color: #f3f3f3;
  border: 1px solid #c8c8c8;
  color: rgb(56, 56, 56);
}
/* #friends-search:focus {
  background-color: white; 
} */
.friends-list {
  height: 100%;
  overflow: hidden;
  min-height: 600px;
  scrollbar-width: 5px;
}
.friends-list:hover {
  overflow-y: auto;
}
.list-item {
  height: 105px;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
}
.list-item:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
.list-item:focus {
  background-color: rgb(84, 122, 245);
}
.logout {
  border-top: 1px solid #c4c4c4;
  padding: 8px 10px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.bottom-toggle-btn {
  background-color: rgb(192, 192, 192);
  border: none;
  margin-right: 10px;
}
.exit-btn {
  padding: 0 8px;
  background-color: rgb(192, 192, 192);
  color: white;
}
.exit-btn svg {
  font-size: 30px;
  align-self: center;
  height: 100%;
}

.friends-container-dark {
  background-color: #6a6a6a;
  border-right: 1px solid rgb(133, 133, 133);
}
.friends-title-dark {
  color: rgb(218, 218, 218);
}

.friends-dark {
  background-color: #7a7a7a;
}
.friends-top-search-dark {
  background-color: #b1b1b1;
  border: none;
}
.logout-dark {
  border-top: none;
}
.list-item-dark {
  background-color: rgb(185, 185, 185);
  border-bottom: 1px solid rgb(133, 133, 133);
  color: white;
}
.bottom-toggle-btn-dark {
  background-color: rgb(185, 185, 185);
}
