.button {
    background-color: #68b7ff;
    color: white;
    padding: 15px 5px;
    outline: none;
    border: none;
    margin-bottom: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}