.search {
    padding: 17.4px 20px;
    display: flex;
  }
  /* #friends_search {
    padding: 10px 16px;
    outline: none;
    width: 100%;
  } */
  .friends_top_search {
    background-color: #f3f3f3;
    border: 1px solid #c8c8c8;
    color: rgb(56, 56, 56);
  }

  .friends_top_search_dark {
    background-color: #b1b1b1;
    border: none;
  }