.friends_container {
  height: 100%;
  flex: 1;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(228, 228, 228);
}

.logout {
  border-top: 1px solid #c4c4c4;
  padding: 13px 10px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
} 

.friends_container_dark {
  background-color: #6a6a6a;
  border-right: 1px solid rgb(133, 133, 133);
}
.friends_title_dark {
  color: rgb(218, 218, 218);
}
 
.logout_dark {
  border-top: 1px solid rgb(128, 128, 128);
}

@media screen and (max-width: 600px) {
  .friends_container {
    flex: none; 
    width: 100%;
  }
}
 