.friends_list {
  height: 100%;
  overflow: hidden;
  scrollbar-width: 5px;
}
.friends_list:hover {
  overflow-y: auto;
}
.list_item {
  height: 105px;
  background-color: white;
  border-bottom: 1px solid #f3f3f3;
  padding: 20px;
  display: flex;
}
.friend_avatar {
  overflow: hidden;
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
  background: #ececec;
  margin-right: 10px;
}
.last_message {
  color: #c8c8c8;
}
.friend_info {
  width: 100%;
}
.list_item:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}
.list_item:focus {
  background-color: rgb(84, 122, 245);
}
.list_item_dark {
  background-color: rgb(185, 185, 185);
  border-bottom: 1px solid rgb(128, 128, 128);
  color: white;
}
.list_item_dark:hover {
  background-color: rgb(151, 151, 151);
}

.friend_avatar_dark {
  background: #AAAAAA;
}