.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
.login-card {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 320px;
  width: 300px;
  text-align: center;
}
.login-title {
  height: 50px;
}
.input {
  padding: 10px 16px;
  background-color: #f3f3f3;
  outline: none;
  border: none;
  color: #bbbbbb;
}
.login-btn {
  background-color: #68b7ff;
  color: white;
  padding: 10px 5px;
  outline: none;
  border: none;
  margin-bottom: 60px;
}
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 10%;
  padding: 6px 0;
  background-color: rgb(180, 179, 179);
  border: none;
}

.login-card-dark {
  background-color: #6a6a6a;
}
.login-title-dark {
  color: rgb(218, 218, 218);
}
.login-dark {
  background-color: #7a7a7a;
}
